{% load static %}
<div class="container-fluid bg-dark">
    <footer class="container py-5 bg-dark text-white">
        <div class="row">
            <div class="col-12 col-md">
                <img src="{% static '/logo-codepad.svg' %}" alt="CodepadLogo" width="45" height="45"> <h4
                    style="display: inline;"
                    class="myfont">Codepad</h4>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's
                </p>
                <small class="d-block mb-3 text-footer">&copy; 2020-2021</small>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-footer" href="#">Anasayfa</a></li>
                    <li><a class="text-footer" href="#">Random feature</a></li>
                    <li><a class="text-footer" href="#">Team feature</a></li>
                    <li><a class="text-footer" href="#">Stuff for developers</a></li>
                    <li><a class="text-footer" href="#">Another one</a></li>

                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Kategoriler</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-footer" href="#">Resource</a></li>
                    <li><a class="text-footer" href="#">Resource name</a></li>
                    <li><a class="text-footer" href="#">Another resource</a></li>
                    <li><a class="text-footer" href="#">Final resource</a></li>
                    <li><a class="text-footer" href="#">Another one</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Etiketler</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-footer" href="#">Business</a></li>
                    <li><a class="text-footer" href="#">Education</a></li>
                    <li><a class="text-footer" href="#">Government</a></li>
                    <li><a class="text-footer" href="#">Gaming</a></li>
                    <li><a class="text-footer" href="#">Another one</a></li>
                </ul>
            </div>

        </div>
    </footer>

</div>